 /* Estilos generales para el formulario */
 body {
    font-family: Arial, sans-serif;
    background-color: #020202;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgb(0, 252, 155);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"],[type="number"],[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00750a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a85510;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
}

.success {
    color: green;
    font-size: 1em;
    text-align: center;
}